/*stylesheet*/
body {
    width: 80rem;
    margin-inline: auto;
    background-image: url(../svg/Group\ 6.svg), url(../svg/Group\ 7.svg);
    background-repeat: no-repeat;
    background-position-y:top, 35rem;
    background-position-x: left, right;
    height: 50vh;
    font-family: Inter;
    background-color: linear-gradient(220deg, #fdfdfd, #515151);
}
ul {
    list-style: none;
}
.nav {
    display: flex;
    gap: 15rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.midnav {
    display: flex;
    gap: 6rem;
    margin-left: -3rem;
    color: #818080;
}
.but1 {
    background-color: #EA6028;
    height: 4vh;
    width: 8%;
    border-radius: 2rem;
    border-style: none;
    color: white;
    margin-top: 0.8rem;
    font-size: 17px;
}
.li1 {
    color: #5C5C5C;
    font-weight: 700;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.15turn, #FAB250, #E02F2B, rgba(56,2,155,0));
    border-image-slice: 1;
}
.logo {
    height: 4.5rem;
    margin-top: -1.3rem;
    margin-left: -20px;
}
.chick {
    width: 40rem;
    /* margin-left: 19%; */
}
.Hero {
    display: flex;
}
.sh {
    font-family: Istok Web;
    color: #5C5C5C;
}
.heroi {
   margin-bottom: 10rem;
   width: 59rem;
}
.head1 {
    font-size: 8rem;
    margin-bottom: -1rem;
    line-height: 1;
}
.butto {
    display: flex;
    gap: 35px;
}
.but {
    background-color: #EE763F;
    height: 4.8vh;
    width: 22%;
    color: white;
    border-radius: 2rem;
    border-style: none;
    font-size: 17px;
}
.but2 {
    margin-top: 0.8rem;
    font-size: 17px;
    font-weight: 500    ;
}
.sr {
    font-size: 20px;
    color: #818080;
    font-weight: 500;
    line-height: 1.5;
}
.para {
    margin-bottom: 2.2rem;
}
.chi {
    display: flex;
}
.svg1 {
    width: 13rem;
    position: relative;
    top: 18rem;
    left: -17rem;
}
.emoji {
    background-color: white;
    border-top-left-radius: 110%;
    border-top-right-radius: 110%;
    border-bottom-right-radius: 110%;
    width: 4vw;
    height: 9vh;
    position: absolute;
    left: 94.5rem;
    top: 21rem;
}
.emo {
    width: 2.5rem;
    margin-left: 0.9rem;
    margin-top: 1.3rem;
}
.svg2 {
    width: 3rem;
    position: absolute;
    top: -1.5rem;
}
.conta {
    position: absolute;
    top: 34rem;
    left: 55.5rem;
    background-color: white;
    border-radius: 8%;
    width: 13rem;
    height: 5.2rem;
    text-align: center;
    padding-top: 2rem;
}
.par {
    font-size: 15px;
}
/* li {
    font-size: 17px;
} */
.adout {
    display: flex;
    gap: 5rem;
    margin-bottom: 40%;
}
.ado {
    display: flex;
    gap: 2rem;
}
.Best {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: -0.9rem;
}
.ul1 {
    display: flex;
    color: #E02F2B;
    gap: 9rem;
    font-size: 25px;
    padding: 0;
    margin-block: 0.5rem;
}
.ul2 {
    display: flex;
    font-size: 18px;
    color: #818080;
    gap: 9rem;
    font-weight: 500;
    padding: 0;
}
.fr {
    display: flex;
    gap: 6rem;
    position: absolute;
    left: 21.5rem;
    top: 74rem;
    height: 16rem;
}
.de {
    background-color: white;
    border-radius: 8%;
    width: 16rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
.ch {
    color: #818080;
    letter-spacing: 0.4rem;
}
h4 {
    color: #515151;
    font-size: 2rem;
    margin-block: 0.5rem;
}
.re {
    width: 1.7rem;
}
.sp {
    color: #818080;
    margin-top: -0.2rem;
}